---
import Shell from "../layouts/Shell.astro";
---

<Shell title="Under Construction">
    <main>
        <h1 class="text-gradient">Under Construction</h1>
        <p class="instructions">
            Hi, I'm Hamish and this will soon™️ be my portfolio site. In the
            meantime, you can check out my GitHub <a
                href="https://github.com/HamishWHC">here</a
            >.
        </p>
    </main>
</Shell>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    .text-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-image: hsla(33, 100%, 53%, 1);
        background-image: linear-gradient(
            45deg,
            hsla(33, 100%, 53%, 1) 0%,
            hsla(58, 100%, 68%, 1) 100%
        );
        background-image: -moz-linear-gradient(
            45deg,
            hsla(33, 100%, 53%, 1) 0%,
            hsla(58, 100%, 68%, 1) 100%
        );
        background-image: -webkit-linear-gradient(
            45deg,
            hsla(33, 100%, 53%, 1) 0%,
            hsla(58, 100%, 68%, 1) 100%
        );
    }
</style>
